*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.DS_Store
.idea
.sublime-grunt.cache
.project
.strong-pm
.elasticbeanstalk
.pivotalrc
coverage
node_modules
npm-debug.log
bower_components
.tmp
*.cs
client/dist
